body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    background: rgb(245, 245, 245);
}
p{font-size: 16px; line-height: 1.5em;}
h1{font-size: 40px; font-weight: bold;}
h2{font-size: 25px; font-weight: bold;}
h3{font-size: 18px; font-weight: bold;}

.main-container{
    max-width: 1200px;
    min-width: 375px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    gap: 100px;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
    "header" 
    "main" 
    "footer";
}
.header{
    grid-area: header;
    display: grid;
    border-bottom: 1px solid rgb(224, 224, 224);
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    &__menu-burger{
        display: none;
    }
    &__logo{
        display: flex;
        text-decoration: none;
        width: 160px;
        h1{
            font-size: 40px;
            font-weight: bold;
            color: black;
            text-transform: uppercase;
        }
    }
    &__nav{
        &-link{
            margin-right: 20px;
            color: black;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
                color: gray;
            }
        }
    }
    &__social{
        display: flex;
        justify-content: flex-end;
        &-icon{
            margin-left: 20px;
            opacity: 0.7;
           &:hover{
               opacity: 1;
           }
        }
    }
}

.main{
    grid-area: main;
    display: grid;
    gap: 100px;
    &__about{
        display: grid;
        background: white;
        border: 1px solid rgb(221, 221, 221);
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
        padding: 10px;
        &-text{
            h3{
                margin-bottom: 30px;
            }
        }
        &-img{
            display: flex;
            margin: auto;
            overflow: hidden;
            &-img{
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }
    &__bar{
        display: grid;
        background: white;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        border: 1px solid rgb(221, 221, 221);
        gap: 10px;
        grid-auto-flow: dense;
        &-box{
            padding: 10px;
            h3{
                margin-bottom: 20px;
            }
        }
        &-letter_color {
            text-transform: uppercase;
        } 
    }
    &__skills{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 50px;
        &-box{
            display: flex;
            padding: 10px;
            background: white;
            border: 1px solid rgb(221, 221, 221);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2{
                margin-bottom: 20px;
            }
        }
        &-line{
            display: flex;
            width: 100%;
            height: 20px;
            border-radius: 10px;
            align-items: center;
            padding: 6px;
            margin-bottom: 20px;
            background: rgb(236, 236, 236);
            &_progress{
                height: 10px;
                border-radius: 5px;
                background: rgb(137, 131, 230);
            }
            &_procent{
                font-size: 20px;
            }
            &-html{
                width: 100%;
            }
            &-css{
                width: 85%;
            }
            &-js{
                width: 10%;
            }
            &-scss{
                width: 70%;
            }
        }
    }
}

.footer{
    grid-area: footer;
    display: grid;
    border-top: 1px solid rgb(224, 224, 224);
    &__content{
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        align-items: center;
        h3{
            margin-right: 20px;
            color: gray;
        }
    }
}

@media screen and (max-width: 1200px) {
    .main-container{
        max-width: 800px;
    }
}
@media screen and (max-width: 800px){
    .main-container{
        max-width: 600px;
        padding: 20px;
    }
    .header {
        grid-template-columns: 1fr 2fr 1fr;
    }
    .header__menu-burger{
        display: flex;
        justify-self: flex-start;
    }
    .header__logo{
        justify-self: center;
    }
    .header__nav{
        display: none;
    }
    .header__social{
        justify-content: start;
    } 
    .main__about{
        grid-template-columns: 1fr;
        row-gap: 20px;
        &>:nth-child(2){
            grid-row: 1 / 2 ;
        }
    }

}
@media screen and (max-width: 600px){
    .main-container{
        padding: 20px;
    }
    .header{
        grid-template-columns: 1fr 5fr;
    }
    .header__social{
        display: none;
    }
    .main__bar{
        display: flex;
        flex-direction: column;
    }
}

