%btn__connection {
    margin: 0 auto;
    width: 200px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    background: rgb(91, 32, 255);
    cursor: pointer;
    box-shadow: -10px 3px 10px 0px rgba(0, 0, 0, 0.1),
                10px 3px 10px 0px rgba(0, 0, 0, 0.1);
    transition: 1s;
                
    &:hover {
        background: rgb(253, 71, 71);
    }
    &:active {
        background: rgb(177, 9, 9);
    }
}

h1 {
    font-size: 65px;
    font-weight: bold;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 18px;
    color: rgb(105, 105, 105);
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.header {
    display: grid;
    min-height: 100vh;
    position: relative;
    align-content: center;
    background: rgba(0, 0, 0, 0.4);
    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background: url(../image/scr_backround.jpg) no-repeat center / cover;
    }
    &__logo {
        color: white;
        text-align: center;
        h1 {
            margin-bottom: 20px;
        }
        p {
            color: white;
            margin-bottom: 50px
        }
        button {
            @extend %btn__connection;
        }
    }
}

.main {
    display: grid;
    &__content {
        display: grid;
        margin-top: 50px;
        border: 1px solid gray;
        padding: 50px;
        grid-template-rows: auto;
        row-gap: 50px;
        h2 {
            text-align: center;
        }
    }
    &__section {
        border-bottom: 1px solid rgb(241, 241, 241);
        h3 {
            margin-bottom: 20px;
        }
        p {
            line-height: 1.1em;
            margin-bottom: 20px;
        } 
    }
    button {
        margin: 100px auto;
        @extend %btn__connection;
    }   
}

.footer {
    display: grid;
    align-content: center;
    min-height: 200px;
    background: rgb(235, 235, 235);
    &__menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);   
        justify-items: center;  
        align-items: center;   
    }
    &__menu-list {
        display: grid;
    }
    &__menu-item {
        justify-self: center;
        margin-bottom: 10px;
        font-size: 16px;
        color: gray;
        cursor: pointer;
        &:hover{
            color: black;
        }
    }
}

.modal {
    display: none;
    position: relative;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    &__window {
        display: grid;
        justify-content: center;
        align-content: center;
        width: 400px;
        background: white;
        border-radius: 20px;
        height: 500px;
    }
    &__close {
        position: absolute;
        top: 5px;
        color: white;
        font-size: 30px;
        right: 10px;
        cursor: pointer;
        margin-bottom: 20px;
    }
    &__form {
        display: grid;
        width: 300px;
        height: 400px;
        grid-template-rows: 1fr 1fr 1fr 3fr;
        row-gap: 30px;
    }
    &__submit {
        @extend %btn__connection;
        margin: auto;
    }
    
}

.modal__image {
    &-window {
        width: 600px;
        height: 600px;
    }
    &-img {
        overflow: hidden;
        img {
            object-fit: cover;
            border-radius: 10px;
            width: 100%;
            height: 100%;
        }
    }
}