body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
}

.main-container {
  max-width: 1200px;
  min-width: 375px;
  height: 100%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 50px;
  -ms-grid-rows: 100px auto 100px;
      grid-template-rows: 100px auto 100px;
      grid-template-areas: "header"  "main"  "footer";
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-burger {
  display: none;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  width: 160px;
}

.header__logo h1 {
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

.header__nav-link {
  margin-right: 20px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.header__nav-link:hover {
  color: gray;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__social-icon {
  margin-left: 20px;
  opacity: 0.7;
}

.header__social-icon:hover {
  opacity: 1;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  gap: 100px;
}

.main__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  overflow: hidden;
}

.main__img-photo {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.main__bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 50px;
  grid-auto-flow: dense;
}

.main__bar-box h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: bold;
}

.main__bar-box p {
  font-size: 16px;
  line-height: 1.5em;
}

.main__bar-letter_color {
  text-transform: uppercase;
}

.main__bar > :nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.main__bar > :nth-child(5) {
  grid-column: span 2;
}

.main__skills {
  display: -ms-grid;
  display: grid;
  height: 100px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.main__skills-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__skills-box h2 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main__skills-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px;
  margin-bottom: 10px;
  background: #e4e4e4;
}

.main__skills-line_progress {
  height: 10px;
  border-radius: 5px;
  background: #8983e6;
}

.main__skills-line_procent {
  font-size: 20px;
}

.main__skills-line-html {
  width: 100%;
}

.main__skills-line-css {
  width: 85%;
}

.main__skills-line-js {
  width: 10%;
}

.main__skills-line-scss {
  width: 70%;
}

@media screen and (max-width: 1200px) {
  .main-container {
    max-width: 800px;
    padding: 20px;
  }
}

@media screen and (max-width: 800px) {
  .main-container {
    max-width: 600px;
    padding: 20px;
  }
  .header {
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
  }
  .header__menu-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: flex-start;
  }
  .header__logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header__nav {
    display: none;
  }
  .header__social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

@media screen and (max-width: 500px) {
  .main-container {
    padding: 20px;
  }
  .header {
    -ms-grid-columns: 1fr 5fr;
        grid-template-columns: 1fr 5fr;
  }
  .header__social {
    display: none;
  }
  .main__bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */